*.log
*.aux
*.toc
*/tags
*.bbl
*.blg
*.bcf
tmp.key
*.pgm
*-eps-converted-to.pdf
tags
*~
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
vcases/*/*.png
tmp*/*
